$switch-width: 120px;
$switch-height: 30px;
$plus-size: 18px;
$postWidth: 280px;
$width-mobile: 360px;
$postHeight: 148px;
$widthSelect: 272px;
$postMinus: 30px;
$switchMinus: 20px;
$editWidth: 255px;